*{
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(rgba(0, 0,100, 0.3),rgba(0,0,100,0.5)), url(cafe.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul
{
  justify-content: center;
  margin: 0;
  padding-right: 42px;
}

nav ul li {
  display: inline-block;
  padding: 16px 32px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background: transparent;
  padding: 10px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: 0.4s;
}

.sub-menu{
  display: none;
}

nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  margin-left: -15px;
}

nav ul li:hover .sub-menu ul {
  display: block;
  margin: 0;
  padding: 0;
}

nav ul li:hover .sub-menu ul li{
  display: block;
  width: 130px;
  padding: 1px;
  border-bottom:  1px solid #fff;
  border-radius: 4px;
}

.logo {
  font-family: 'MS Serif',sans-serif;
  float: left;
  border: 3px solid #fff;
  display: inline-block;
  margin: 16px 48px;
  padding: 0px 10px 15px 10px;
  height: 48px;
  font-size: 50px;
  color: #FFF;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  padding-top: 280px;
  color: #fff;
}
